



/* estuve probando un poco los colores, nada definitivo aun, pero ya vamos a elegir una paleta despues
de este estilo son muy piola vago https://designschool.canva.com/blog/100-color-combinations/
con SASS todo esto se vuelve mucho mas facil tambien, a la prox web capaz podemos usarlo.*/

/*-----------Login form ----------*/
#loginFormContainer{
	display: none;
	background-color: rgba(0,0,0,0.4);
	position: fixed;
	width:100vw;
	height:100vh;
}
#loginFormContent{
	width:620px;
	margin: 35px auto 0px auto;
	background-color: white;
}

#loginFormHeader {
	background-color: #8C9C9A;
	margin-bottom: 35px;
	height: 80px;
}
#loginFormHeader h2{
	display:inline-block;

	text-align: center;
	width:560px;

	color: white;
}

#loginFormContent #close{
	float:right;
	color: #A31E39;
	cursor: pointer !important;
	display: inline-block;
	padding: 20px;
}
#loginFormBody{
	width: 80%;
	margin: 0px auto 0px auto;
}
.loginInput{
	display: block;
	width: 90%;
	height: 40px;
	border-radius: 12px;
	margin: 20px auto 20px auto;
}

#loginSubmit{
	margin: 20px auto 20px auto;
}

#loginFormFooter{
	width:100%;
	background-color: #8C9C9A;
	height: 80px;
	color:white;
	text-align:center;
	bottom: 0px;
	line-height: 80px;

}




/*-----------Signup form ----------*/

#signupFormContainer{
	display: none;
	background-color: rgba(0,0,0,0.4);
	position: fixed;
	width:100vw;
	height:100vh;
}
#signupFormContent{
	width:620px;
	margin: 35px auto 0px auto;
	background-color: white;
}

#signupFormHeader {
	background-color: #8C9C9A;
	margin-bottom: 35px;
	height: 80px;
}
#signupFormHeader h2{
	display:inline-block;

	text-align: center;
	width:560px;

	color: white;
}

#signupFormContent #close{
	float:right;
	color: #A31E39;
	cursor: pointer !important;
	display: inline-block;
	padding: 20px;
}
#signupFormBody{
	width: 80%;
	margin: 0px auto 0px auto;
}
.signupInput{
	display: block;
	width: 90%;
	height: 40px;
	border-radius: 12px;
	margin: 20px auto 20px auto;
}

#signupSubmit{
	margin: 20px auto 20px auto;
}

#signupFormFooter{
	width:100%;
	background-color: #8C9C9A;
	height: 80px;
	color:white;
	text-align:center;
	bottom: 0px;
	line-height: 80px;

}




/*-----------globals classes ----------*/

body{
	font-family: helvetica;

}
ul{
	list-style-type: none !important;
}

.bttn{
	border-radius: 12px;
}

.bttn:hover{
	cursor:pointer !important;

}

.row{
	display:flex;
	flex-wrap: wrap;
	justify-content:center;

}

#MainContainer{
	padding:0;
	background-color: #D6E4E1;
}

#content{
	background-color: white;
	width:82vw;
	padding: 14px 26px;
	margin-left: auto;
	margin-right: auto;
	border-radius: 16px;
}

.sectionDivision{
	width:65%;
	margin: 42px auto;

}
a:link {
    text-decoration: none;
		color: white;
}

a:visited {
    text-decoration: none;
		color: white;
}

a:hover {
    text-decoration: none;
		color: white;
}

a:active {
    text-decoration: none;
		color: white;
}

/*--------- sections ---------*/


#header{
	margin: -6px 0px 28px 0px;
	height: 80px;
	background-color: #8C9C9A;
	color: white;

	display: flex;




}
#header #headerContainer{
	margin-left:auto;
	margin-right:auto;
	display:flex;
	justify-content: space-between;
	width: 90vw;

}
#header h1{
	margin: 0px;
	font-weight: 700;
	font-size: 32px;
	line-height:80px;
	text-align:center;
}

#header #brandContainer{
	display:inline-block;
}
#header #searchBar{
	display:inline-block;
	margin:20px 0;
	height: 28px;
	padding: 6px 18px;
	background-color: white;
	border-radius: 12px;

}
#header #searchField{
	width:260px;
	height: 40px;
	margin: 20px;
	border: none;
	border-radius: 12px;
	text-indent: 18px;
}
#header #searchField:focused{
	border:none;
}

#header #loginContainer{
	display: inline-block;
	width: 200px;
	display:flex;
	justify-content: space-around;

}
#header .loginBttn{
	padding: 9px 18px;
	display: inline-block;
	line-height: 30px;

}
#login{
	background-color:#A31E39;

}
#signup{
	background-color: #A31E39;
}

#mainContainer{
	justify-content: space-between;
	padding: 20px 8px;
}

#videoContainer{

}
#videoContainer iframe{
	width: 630px;
	height: 522.5px;
	margin-bottom: 0px;
}
#vInfoContainer{
	margin-top: 0px;
	background-color:rgb(230,230,230);
	width:width:630px;
	height: 117.5px;

}
#vInfoContainer ul{
	list-style-type: none !important;
	display:flex;
	justify-content: space-around;
	width:600px;
	margin:8px auto;
}
#vInfoContainer #socialButtons{

	width: 320px;
	padding: 10px 0px 0px 0px;
}

#socialBttn{

	color:#485C5A;
	font-size: 14px;
	line-height: 26px;
	padding: 0px 12px;
	background-color:;
	border: 1px solid ;
}

#vInfoContainer li{
	display:inline-block;
}

#videoInfo{
	width:90%;
	margin: 0px auto;
}
#videoInfo td{

	font-family: lato;
	font-size: 12px;
}
#videoInfo td span{
	font-size:12px;
	padding: 1px 2px;
	background-color: rgb(240,240,255);
	margin-left: 15px;
}

#relatedContainer{
	width: 360px;
	font-size: 22px;
	color: white;
	height: 660.5px;
	text-align:center;
}

#relatedContainer p{

}

.relCon_section{
	background-color:white;
	margin-bottom: 17px;
}

#relCon_profile{
	justify-content: space-around;
	background-color: #D6E4E1;


}

.relCon_title{
	color: white;
	font-weight: normal;
	font-size: 18px;
	margin-top: 0px;
	margin-bottom: 14px;
	line-height: 42px;
	margin-bottom: 16px;
}
#talkingTo{
	background-color: #485C5A;
}

#talkAbout{
	background-color: #485C5A;

}
#alsoLike{
	background-color: #485C5A;
}

#userName{
	margin-left: 15px;
}

#relCon_profile img{
	display:inline-block;
	width:90px;
	height:90px;
	padding: 20px;
}
#relCon_profile #profileDescription{
	display:inline-block;
	width:230px;
	padding: 20px 0px;
	font-family: helvetica;
	color: rgb(110,110,110);

}

#relCon_profile h4{
	font-weight: normal;
	font-size:14px;
	line-height:16px;
	margin-top: 0px;
	margin-bottom: 18px;
}

#relCon_prompt{
	background-color: #485C5A;
	color: rgb(110,110,110);

	font-size: 16px;

	line-height: 20px;
	background-color: #D6E4E1;
}
#relCon_prompt p{
	font-family: helvetica;
}
#relConTitle{
	width:100%;
	height:62px;
	font-weight: 400;
	line-height:41px;
	font-size: 28px;
	color: white;
	margin: 0;
	padding-top:25px;
}
#relCon_prompt{

}
#prompt_container{
	display:flex;
	padding-bottom: 24px;

	display:flex;
	justify-content: center;
}
#prompt{
	width: 200px;
	height: 24px;
	font-size: 15px;
	display: inline-block;
	vertical-align: middle;

}

#ask_bttn {
	font-size: 16px;
	background-color: #D6E4E1;
	display:inline-block;
	color: rgb(110,110,110);
	padding: 9px 18px 9px 18px;
	margin:0px;
	margin-left: 15px;
}

#relCon_alsoLike{

	background-color: #D6E4E1;
}

#userSubjects{
	width: 300px;
	list-style-type: none;
	display:inline-block;
	justify-content: space-around;
	padding: 0;
	margin-top: 0px;
	margin-left:auto;
	margin-right: auto;


}
#userSubjects li{
	display:inline-block;
	color: rgb(110,110,110);
	font-size:13px;
	background-color:rgb(240,255,240);
	border-radius: 12px;
	padding: 6px 12px 6px 12px;
	margin: 12px 8px 0px 8px;

}
#userFriends{

}

#userFriends h2{
	margin-left:auto;
	margin-right:auto;
	margin-bottom: 56px;
	width:280px;
	padding: 12px 24px;
	background-color: rgb(110,110,110);
	text-align: center;
	line-height: 35px;
	font-weight: normal;
	color: white;
	font-size: 19px;
}
#userFriends ul{
	display:flex;
	flex-wrap: wrap;
	justify-content: space-around;
}
.friendProfile{
	border: 5px solid #d5d6d2;
	background-color: #ffffff;
	padding: 25px;
	font-family: helvetica;
	font-size: 15px;
	width: 220px;
	margin-bottom: 22px;
	border-radius: 5px;
}
#friendProfilePicture img{
	width:102px;
	height:102px;
}
#friendProfileInfo{
	padding: 8px;
}
#friendProfileInfo li{
	padding:0;
	margin:0;

}
#friendName{
	padding: 0px 6px;
	display: block;
}
#friendTalks ul{
		padding:0px;

}
#friendTalks li{
	display:inline-block;
	font-size:13px;
	padding: 1px 2px;
	margin: 2px;
	background-color: #ffffff;
}



#footer{
	background-color:gray;
	margin-top: 35px;
	height:130px;
	line-height: 130px;
	font-size:14px;
	color: rgb(90,90,90);
	text-align: center;
	border-top: 2px solid rgb(240,240,255);

}
