
/*-----------globals classes ----------*/

body{
	font-family: Baloo Thambi;

}
ul{
	list-style-type: none !important;
}

.bttn{
	border-radius: 12px;
}

.bttn:hover{
	cursor:pointer !important;

}

.row{
	display:flex;
	flex-wrap: wrap;
	justify-content:center;

}

#container{
	padding:0;
	background-color: rgb(240,240,255);
}

#content{
	background-color: white;
	width:82vw;
	padding: 14px 26px;
	margin-left: auto;
	margin-right: auto;
	border-radius: 16px;
}

.sectionDivision{
	width:65%;
	margin: 42px auto;

}

/*--------- sections ---------*/


#header{
	margin: -6px 0px 28px 0px;
	height: 80px;
	background-color: #50C5B7;
	color: white;

	display: flex;




}
#header #headerContainer{
	margin-left:auto;
	margin-right:auto;
	display:flex;
	justify-content: space-between;
	width: 90vw;

}
#header h1{
	margin: 0px;
	font-weight: 700;
	font-size: 32px;
	line-height:80px;
	text-align:center;
}

#header #brandContainer{
	display:inline-block;
}
#header #searchBar{
	display:inline-block;
	margin:20px 0;
	height: 28px;
	padding: 6px 18px;
	background-color: white;
	border-radius: 12px;

}
#header #searchField{
	width:260px;
	border: none;
}
#header #searchField:focused{
	border:none;
}

#header #loginContainer{
	display: inline-block;
	width: 200px;
	display:flex;
	justify-content: space-around;

}
#header .loginBttn{
	padding: 9px 18px;
	display: inline-block;
	line-height: 30px;

}
#login{
	background-color:#6184D8;

}
#signup{
	background-color: #9CEC5B;
}

#mainContainer{
	justify-content: space-between;
	padding: 20px 8px;
}

#videoContainer{

}
#videoContainer iframe{
	width: 630px;
	height: 522.5px;
	margin-bottom: 0px;
}
#vInfoContainer{
	margin-top: 0px;
	background-color:rgb(230,230,230);
	width:width:630px;
	height: 117.5px;

}
#vInfoContainer ul{
	list-style-type: none !important;
	display:flex;
	justify-content: space-around;
	width:600px;
	margin:8px auto;
}
#vInfoContainer #socialButtons{

	width: 320px;
	padding: 10px 0px 0px 0px;
}

#socialBttn{

	color:rgb(90,90,90);
	font-size: 14px;
	line-height: 26px;
	padding: 0px 12px;
	background-color:;
	border: 1px solid ;
}

#vInfoContainer li{
	display:inline-block;
}

#videoInfo{
	width:90%;
	margin: 0px auto;
}
#videoInfo td{

	font-family: lato;
	font-size: 12px;
}
#videoInfo td span{
	font-size:12px;
	padding: 1px 2px;
	background-color: rgb(240,240,255);
	margin-left: 15px;
}

#relatedContainer{
	width: 460px;
	font-size: 22px;
	color: white;
	height: 660.5px;
	text-align:center;
}

#relatedContainer p{

}

.relCon_section{
	background-color:white;
	margin-bottom: 17px;
}

#relCon_profile{
	justify-content: space-around;
	background-color: #F0F3FB;
	

}

.relCon_title{
	font-weight: normal;
	font-size: 18px;
	margin-top: 0px;
	margin-bottom: 14px;
	line-height: 42px;
	margin-bottom: 16px;
}
#talkingTo{
	background-color: #6184D8;
}

#talkAbout{
	background-color: #9CEC5B;

}
#alsoLike{
	background-color: #F0F465;
}

#userName{
	margin-left: 15px;
}

#relCon_profile img{
	display:inline-block;
	width:90px;
	height:90px;
	padding: 20px;
}
#relCon_profile #profileDescription{
	display:inline-block;
	width:230px;
	padding: 20px 0px;
	font-family: Montserrat;
	color: rgb(110,110,110);

}

#relCon_profile h4{
	font-weight: normal;
	font-size:14px;
	line-height:16px;
	margin-top: 0px;
	margin-bottom: 18px;
}

#relCon_prompt{
	background-color: #F6FDF0;
	color: rgb(110,110,110);

	font-size: 16px;

	line-height: 20px;
	background-color: #DBF8C3;
}
#relCon_prompt p{
	font-family: Montserrat;
}
#relConTitle{
	width:100%;
	height:62px;
	font-weight: 400;
	line-height:41px;
	font-size: 28px;
	color: white;
	margin: 0;
	padding-top:25px;
}
#relCon_prompt{

}
#prompt_container{
	display:flex;
	padding-bottom: 24px;
	
	display:flex;
	justify-content: center;
}
#prompt{
	width: 200px;
	height: 24px;
	font-size: 15px;
	display: inline-block;
	vertical-align: middle;

}

#ask_bttn {
	font-size: 16px;
	background-color: #9CEC5B;
	display:inline-block;
	color: rgb(110,110,110);
	padding: 9px 18px 9px 18px;
	margin:0px;
	margin-left: 15px;
}

#relCon_alsoLike{
	background-color: #FCFDE3;
}

#userSubjects{
	width: 300px;
	list-style-type: none;
	display:inline-block;
	justify-content: space-around;
	padding: 0;
	margin-top: 0px;
	margin-left:auto;
	margin-right: auto;


}
#userSubjects li{
	display:inline-block;
	color: rgb(110,110,110);
	font-size:13px;
	background-color:rgb(240,255,240);
	border-radius: 12px;
	padding: 6px 12px 6px 12px;
	margin: 12px 8px 0px 8px;

}
#userFriends{

}

#userFriends h2{
	margin-left:auto;
	margin-right:auto;
	margin-bottom: 56px;
	width:280px;
	padding: 12px 24px;
	background-color: rgb(110,110,110);
	text-align: center;
	line-height: 35px;
	font-weight: normal;
	color: white;
	font-size: 19px;
}
#userFriends ul{
	display:flex;
	flex-wrap: wrap;
	justify-content: space-around;
}
.friendProfile{
	border: 1px solid rgb(210,210,210);
	padding: 25px;
	font-family: Montserrat;
	font-size: 15px;
	width: 220px;
	margin-bottom: 22px;
}
#friendProfilePicture img{
	width:102px;
	height:102px;
}
#friendProfileInfo{
	padding: 8px;
}
#friendProfileInfo li{
	padding:0;
	margin:0;

}
#friendName{
	padding: 0px 6px;
	display: block;
}
#friendTalks ul{
		padding:0px;

}
#friendTalks li{
	display:inline-block;
	font-style: italic;
	font-size:13px;
	padding: 1px 2px;
	margin: 2px;
	background-color: rgb(240,240,255);
}



#footer{
	background-color:#50C5B7;
	margin-top: 35px;
	height:130px;
	line-height: 130px;
	font-size:14px;
	color: rgb(90,90,90);
	text-align: center;
	border-top: 2px solid rgb(240,240,255);

}




